.table-scroll-bar {
    overflow: hidden;
}

.table-horizontal-scroll {
    overflow-y: auto;
    position: relative;
}

.table-vertical-scroll {
    overflow-x: auto;
    position: relative;
}

.table-horizontal-scroll::-webkit-scrollbar {
    height: 7px;
}

.table-horizontal-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.table-horizontal-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.table-vertical-scroll::-webkit-scrollbar {
    width: 7px;
}
.table-vertical-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.table-vertical-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}


